.unassignCourse{
  margin: auto;
  width: 50%;
  border: .5px solid azure;
  padding: auto;
  margin: 168px;
}
.center{
  text-align: center;
  border: .5px solid azure;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
