<div class="container" style="margin: 100px"
style="max-width: 800px;"
>
  <div class="header">
    <h4>View Course Statistics</h4>
  </div>
  <br />
  <div>
    <div class="row">
      <div class="col-3">
        <label for="DepartmentId">Department</label>
      </div>
      <div class="col-5">
        <select
          type="text"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          id="departmentId"
          placeholder="Course department"
          [formControl]="departmentId"
          [(ngModel)]="selectedItem"
          (change)="print()"
        >
          <option
            *ngFor="let department of departmentList"
            [value]="department.id"
          >
            {{ department.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <br />
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="id">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Semester</th>
        <th scope="col">Assign To</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courseList; let i = index">
        <td>{{ course.code }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.semesterName }}</td>
        <td class="text-danger" *ngIf="course.assignTo === 'Not Assigned Yet!'">
          {{ course.assignTo }}
        </td>
        <td *ngIf="course.assignTo !== 'Not Assigned Yet!'">
          {{ course.assignTo }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
