<div class="container" style="margin: 100px" style="max-width: 800px">
  <div class="header">
    <h4>View Course Statistics</h4>
  </div>
  <br />
  <div>
    <div class="row">
      <div class="col-3 nav">
        <label for="DepartmentId">Department</label>
      </div>
      <div class="col-5">
        <input
          type="text"
          placeholder="search Department.."
          matInput
          [matAutocomplete]="auto"
          style="min-width: 290px"
          [formControl]="myControl"
          (input)="debounceTime($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="print()"
          [displayWith]="displayFn.bind(this)"
        >
          <mat-option
            disabled
            selected
            value=""
            style="background-color: greenyellow"
          >
            choose department
          </mat-option>
          <mat-option *ngFor="let option of filteredList" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </div>
  <br />
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="id" style="background-color: springgreen">Code</th>
        <th scope="col" style="background-color: springgreen">Name</th>
        <th scope="col" style="background-color: springgreen">Semester</th>
        <th scope="col" style="background-color: springgreen">Assign To</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courseList; let i = index">
        <td>{{ course.code }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.semesterId }}</td>
        <td class="text-danger" *ngIf="course.assignTo === 'Not Assigned Yet!'">
          {{ course.assignTo }}
        </td>
        <td *ngIf="course.assignTo !== 'Not Assigned Yet!'">
          {{ course.assignTo }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
