<div class="Container" style="margin: 100px">
  <h4 class="header">Course Assign To Teacher</h4>
  <!-- <div class="form-outline">
    <label class="form-label" for="form1">Search Department</label>
    <input
      type="text"
      id="form1"
      class="form-control"
      placeholder="Search Department..."
      (input)="filterDropdown($event)"
      style="max-width: 400px"
    />
  </div> -->
  <br />
  <form [formGroup]="myForm" style="max-width: 400px">
    <br />
    <div>
      <div class="row">
        <div class="col-3">
          <label for="department">Department</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            placeholder="search Department.."
            matInput
            [matAutocomplete]="auto"
            style="min-width: 290px"
            [formControl]="myControl"
            (input)="debounceTime($event)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="changeDeptId()"
            [displayWith]="displayFn.bind(this)"
          >
            <mat-option *ngFor="let option of filteredList" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
    <br />
    <div>
      <div class="row">
        <div class="col-3">
          <label for="Teacher">Teacher</label>
        </div>
        <div class="col-9">
          <select
            type="text"
            class="form-select form-select-sm"
            aria-label=".form-select-sm example"
            id="Teacher"
            placeholder="Teacher"
            formControlName="teacherId"
            (change)="changeTeacher()"
          >
            <option value="" disabled selected>Choose Teacher</option>
            <option *ngFor="let teacher of teacherList" [value]="teacher.id">
              {{ teacher.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="row">
        <div class="col-3">
          <label id="creditToTake" for="creditToTake">Credit To Be Taken</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            formControlName="creditToBeTaken"
            class="form-control"
            id="creditToBeTaken"
            aria-describedby="NameHelp"
            placeholder="credit To Be Taken"
            readonly
          />
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="row">
        <div class="col-3">
          <label id="remainingCredit" for="remainingCredit"
            >Remaining Credit</label
          >
        </div>
        <div class="col-9">
          <input
            type="text"
            formControlName="remainingCredit"
            class="form-control"
            id="remainingCredit"
            aria-describedby="departmentHelp"
            placeholder="Remaining Credit"
            readonly
          />
        </div>
      </div>
    </div>
    <br />
    <div>
      <div class="row">
        <div class="col-3">
          <label for="courseCode">Course Code</label>
        </div>
        <div class="col-9">
          <select
            type="text"
            class="form-select form-select-sm"
            aria-label=".form-select-sm example"
            id="courseCode"
            placeholder="courseCode"
            formControlName="code"
            (change)="changeCourseControl(selectField.value)"
            #selectField
          >
            <option value="" disabled selected>Choose Course</option>
            <option *ngFor="let course of courseList" [(value)]="course.code">
              {{ course.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="row">
        <div class="col-3">
          <label id="courseCode" for="courseName">Name</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            formControlName="courseName"
            class="form-control"
            id="courseName"
            aria-describedby="departmentHelp"
            placeholder="Course Name"
            readonly
          />
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="row">
        <div class="col-3">
          <label id="courseCredit" for="courseCredit">Credit</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            formControlName="courseCredit"
            class="form-control"
            id="courseCredit"
            aria-describedby="departmentHelp"
            placeholder="Course Credit"
            readonly
          />
        </div>
      </div>
    </div>
    <br />
    <div>
      <button type="submit" class="btn btn-primary" (click)="check(modalData)">
        Assign
      </button>
    </div>
  </form>
</div>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign Confirmation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Are you sure you want to
        <span class="text-primary">"Assign more course to this teacher"</span>
        ?</strong
      >
      <br />
      <span class="text"
        >"This teacher doesn't have enough remaining credit to take this
        course."</span
      >
    </p>

    <p>this teacher's credit to be taken will increase</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click'); onConfirm()"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      NO
    </button>
  </div>
</ng-template>
