.Container {
  padding: 50px;
  border: 1px solid aliceblue;
  align-content: center;
}
.btn {
  float: right;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;

}
.error{
  margin-left: 107px;
}
error{
  margin-left: 107;
}
