.form-group {
  width: 350px;
  margin-right: 30px;
}

.Container {
  padding: 50px;
  border: 1px solid aliceblue;
  align-content: center;
}
.pdfGenerator{
  float: right;
  margin-right: 42px;
}
.pdfContainer{
  padding: 40px;

  align-content: center;
}
