<div class="container">
  <h3 class="d-flex justify-content-center">University Management System</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button
          routerLink="Create-Department"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Save Department
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="View-Department"
          class="m-1 btn btn-light btn-outline-primary"
        >
          View Departments
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="Create-Course"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Create Course
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="Create-Teacher"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Create Teacher
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="View-Course"
          class="m-1 btn btn-light btn-outline-primary"
        >
          View Course stats
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="Register-Student"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Register Student
        </button>
      </li>

      <li class="nav-item">
        <button
          routerLink="Course-Enroll"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Course Enroll
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="Allocate-Classroom"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Room Allocation
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="Save-Result"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Save Student Result
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="View-Result"
          class="m-1 btn btn-light btn-outline-primary"
        >
          View Result
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="Unassign-Courses"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Unassign Courses
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="Unallocate-Classrooms"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Unallocate Classrooms
        </button>
      </li>
      <li class="Course-Assign">
        <button
          routerLink="Unallocate-Classrooms"
          class="m-1 btn btn-light btn-outline-primary"
        >
          Course Assign
        </button>
      </li>
    </ul>
  </nav>
</div>
